{{ define "main" }}
<section id="about" class="hero is-bold h-card">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-rounded u-photo" src="img/avatar-square.jpg">
      <h1 class="title u-name">Tony Burns</h1>
      <h2 class="subtitle">Software Engineer • Author • Photographer</h2>
      <p>
        <a class="has-text-dark u-email" href="mailto:tony@tonyburns.net" rel="me"><i class="far fa-envelope fa-2x"></i></a>
        &nbsp;
        <a class="has-text-dark u-url" href="https://www.linkedin.com/in/tonyhburns/" rel="me"><i
            class="fab fa-linkedin fa-2x"></i></a>
        &nbsp;
        <a class="has-text-dark u-url" href="https://github.com/craftyphotons" rel="me"><i
            class="fab fa-github fa-2x"></i></a>
        &nbsp;
        <a class="has-text-dark u-url" href="https://twitter.com/craftyphotons" rel="me"><i
            class="fab fa-twitter fa-2x"></i></a>
        &nbsp;
        <a class="has-text-dark u-url" href="https://instagram.com/craftyphotons" rel="me"><i
            class="fab fa-instagram fa-2x"></i></a>
      </p>
    </div>
  </div>
</section>
{{ end }}